
<div style="position: absolute; z-index: 100;">
  <div id="sm_stat_info" style="display: none;">
    <a id="sm_stat_close_link" href="#">закрыть</a>
    <h3>Процесс загрузки данных</h3>
    <div id="sm_stat_table_wrapper">
      <table id="sm_stat_table">
        <thead>
          <tr>
            <th>оператор</th>
            <th>время (сек)</th>
            <th>статус</th>
            <th>цены</th>
          </tr>
        </thead>
        <tbody id="sm_stat_body">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="sm_SearchFormResult_root">
  <div id="sm_result" style="display: none;">
    <h1>Результаты поиска</h1>
    <span class="sm_found">загружены данные от <span id="sm_loaded_count"></span> из <span id="sm_all_count"></span> источников, <span id="sm_new_rows"></span></span>
    <div class="sm_status">
      <span class="sm_icon sm_yes">есть</span><span class="sm_icon sm_no">нет</span><span class="sm_icon sm_request">по запросу</span><span class="sm_icon sm_unknown">неизвестно</span>
    </div>
	<div id="sm_popup_error"></div>	
    <table id="sm_result_table">
      <thead>
        <tr>
          <th rowspan="2" id="sm_item1">Вылет</th>
          <th rowspan="2" id="sm_item2">Ночей</th>
          <th rowspan="2" id="sm_item3">Курорт</th>
          <th rowspan="2" id="sm_item4">Отель</th>
          <th rowspan="2" id="sm_item5">Места</th>
          <th rowspan="2" id="sm_item6">Питание</th>
          <th rowspan="2" id="sm_item7">Разм.</th>
          <th rowspan="2" id="sm_item9">Эконом</th>
          <th rowspan="2" id="sm_item10">Бизнес</th>
          <th rowspan="2" id="sm_item11">Стоимость</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>